body {
    margin: 0px;
}

article {
    height: 100vh;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

img {
    width: 500px;
}

p {
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

footer {
    font-size: 3rem;
    color: white;
}

.mixcloud {
    margin-bottom: 30px;
}

a {
    color: white;
}

a:hover {
    color: gray;
}